In [1]:
import pandas as pd
df = pd.read_csv('dataset_Facebook.csv', sep=';') # seaparator is used to separate the csv file records

In [2]:
df.sample(3)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
343,117764,Photo,3,5,1,13,1.0,4458,7753,491,432,676,5493,3106,340,6,101.0,29.0,136
122,136393,Photo,1,10,7,8,0.0,619,1096,257,254,292,951,516,217,1,1.0,2.0,4
86,137177,Link,1,11,4,3,0.0,21176,54779,330,228,329,13858,5248,185,2,130.0,31.0,163

In [3]:
# Creating Subset 1

df_subset1=df.loc[0:4, ['like', 'share']] 
print('\n-------------------------- df_subset1 --------------------------\n')
print(df_subset1)

-------------------------- df_subset1 --------------------------

     like  share
0    79.0   17.0
1   130.0   29.0
2    66.0   14.0
3  1572.0  147.0
4   325.0   49.0

In [4]:
# creating subset 2 just like subset 1 but in a different way

df_subset2=df.iloc[[0, 1, 2, 3, 4], [16, 17]]
print('\n-------------------------- df_subset2 --------------------------\n')
print(df_subset2)

-------------------------- df_subset2 --------------------------

     like  share
0    79.0   17.0
1   130.0   29.0
2    66.0   14.0
3  1572.0  147.0
4   325.0   49.0

In [6]:
# creating subset 3 by calculating the like-share ration by using 'div' function

df_subset3=df['like'].div(df['share']).to_frame('like-share ratio')
print('\n-------------------------- df_subset3 --------------------------\n')
print(df_subset3)

-------------------------- df_subset3 --------------------------

     like-share ratio
0            4.647059
1            4.482759
2            4.714286
3           10.693878
4            6.632653
..                ...
495          2.038462
496          2.409091
497          5.166667
498          2.394737
499          3.250000

[500 rows x 1 columns]

In [7]:
# Merging the two dataframes using concat() function

df_merged=pd.concat([df, df_subset3], axis=1, join='inner')
print('\n-------------------------- df_merged --------------------------\n')
print(df_merged)

-------------------------- df_merged --------------------------

     Page total likes    Type  Category  Post Month  Post Weekday  Post Hour  \
0              139441   Photo         2          12             4          3
1              139441  Status         2          12             3         10
2              139441   Photo         3          12             3          3
3              139441   Photo         2          12             2         10
4              139441   Photo         2          12             2          3
..                ...     ...       ...         ...           ...        ...
495             85093   Photo         3           1             7          2
496             81370   Photo         2           1             5          8
497             81370   Photo         1           1             5          2
498             81370   Photo         3           1             4         11
499             81370   Photo         2           1             4          4

     Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
0     0.0                       2752                             5091
1     0.0                      10460                            19057
2     0.0                       2413                             4373
3     1.0                      50128                            87991
4     0.0                       7244                            13594
..    ...                        ...                              ...
495   0.0                       4684                             7536
496   0.0                       3480                             6229
497   0.0                       3778                             7216
498   0.0                       4156                             7564
499   NaN                       4188                             7292

     Lifetime Engaged Users  Lifetime Post Consumers  \
0                       178                      109
1                      1457                     1361
2                       177                      113
3                      2211                      790
4                       671                      410
..                      ...                      ...
495                     733                      708
496                     537                      508
497                     625                      572
498                     626                      574
499                     564                      524

     Lifetime Post Consumptions  \
0                           159
1                          1674
2                           154
3                          1119
4                           580
..                          ...
495                         985
496                         687
497                         795
498                         832
499                         743

     Lifetime Post Impressions by people who have liked your Page  \
0                                                 3078
1                                                11710
2                                                 2812
3                                                61027
4                                                 6228
..                                                 ...
495                                               4750
496                                               3961
497                                               4742
498                                               4534
499                                               3861

     Lifetime Post reach by people who like your Page  \
0                                                1640
1                                                6112
2                                                1503
3                                               32048
4                                                3200
..                                                ...
495                                              2876
496                                              2104
497                                              2388
498                                              2452
499                                              2200

     Lifetime People who have liked your Page and engaged with your post  \
0                                                  119
1                                                 1108
2                                                  132
3                                                 1386
4                                                  396
..                                                 ...
495                                                392
496                                                301
497                                                363
498                                                370
499                                                316

     comment    like  share  Total Interactions  like-share ratio
0          4    79.0   17.0                 100          4.647059
1          5   130.0   29.0                 164          4.482759
2          0    66.0   14.0                  80          4.714286
3         58  1572.0  147.0                1777         10.693878
4         19   325.0   49.0                 393          6.632653
..       ...     ...    ...                 ...               ...
495        5    53.0   26.0                  84          2.038462
496        0    53.0   22.0                  75          2.409091
497        4    93.0   18.0                 115          5.166667
498        7    91.0   38.0                 136          2.394737
499        0    91.0   28.0                 119          3.250000

[500 rows x 20 columns]

In [8]:
# Sorting rows according to Page total likes, Type and then like

df_sorted=df.sort_values(by=['Page total likes', 'Type', 'like'], ascending=False)
print('\n-------------------------- df_sorted --------------------------\n')
print(df_sorted)

-------------------------- df_sorted --------------------------

     Page total likes    Type  Category  Post Month  Post Weekday  Post Hour  \
10             139441  Status         2          12             5         10
8              139441  Status         2          12             7          3
5              139441  Status         2          12             1          9
1              139441  Status         2          12             3         10
3              139441   Photo         2          12             2         10
..                ...     ...       ...         ...           ...        ...
495             85093   Photo         3           1             7          2
497             81370   Photo         1           1             5          2
498             81370   Photo         3           1             4         11
499             81370   Photo         2           1             4          4
496             81370   Photo         2           1             5          8

     Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
10    0.0                      21744                            42334
8     0.0                      11844                            22538
5     0.0                      10472                            20849
1     0.0                      10460                            19057
3     1.0                      50128                            87991
..    ...                        ...                              ...
495   0.0                       4684                             7536
497   0.0                       3778                             7216
498   0.0                       4156                             7564
499   NaN                       4188                             7292
496   0.0                       3480                             6229

     Lifetime Engaged Users  Lifetime Post Consumers  \
10                     4258                     4100
8                      1530                     1407
5                      1191                     1073
1                      1457                     1361
3                      2211                      790
..                      ...                      ...
495                     733                      708
497                     625                      572
498                     626                      574
499                     564                      524
496                     537                      508

     Lifetime Post Consumptions  \
10                         4540
8                          1692
5                          1389
1                          1674
3                          1119
..                          ...
495                         985
497                         795
498                         832
499                         743
496                         687

     Lifetime Post Impressions by people who have liked your Page  \
10                                               37849
8                                                15220
5                                                16034
1                                                11710
3                                                61027
..                                                 ...
495                                               4750
497                                               4742
498                                               4534
499                                               3861
496                                               3961

     Lifetime Post reach by people who like your Page  \
10                                              18952
8                                                7912
5                                                7852
1                                                6112
3                                               32048
..                                                ...
495                                              2876
497                                              2388
498                                              2452
499                                              2200
496                                              2104

     Lifetime People who have liked your Page and engaged with your post  \
10                                                3798
8                                                 1250
5                                                 1016
1                                                 1108
3                                                 1386
..                                                 ...
495                                                392
497                                                363
498                                                370
499                                                316
496                                                301

     comment    like  share  Total Interactions
10         0   233.0   19.0                 252
8          0   161.0   31.0                 192
5          1   152.0   33.0                 186
1          5   130.0   29.0                 164
3         58  1572.0  147.0                1777
..       ...     ...    ...                 ...
495        5    53.0   26.0                  84
497        4    93.0   18.0                 115
498        7    91.0   38.0                 136
499        0    91.0   28.0                 119
496        0    53.0   22.0                  75

[500 rows x 19 columns]

In [13]:
# D. TRANSPOSING DATA
# Creating a transpose of the dataframe using transpose() function

df_transposed=df.T # we can transpose the data either by using 'T' or 'transpose()' function
print('\n-------------------------- df_transposed --------------------------\n')
print(df_transposed)

-------------------------- df_transposed --------------------------

                                                       0       1       2    \
Page total likes                                    139441  139441  139441
Type                                                 Photo  Status   Photo
Category                                                 2       2       3
Post Month                                              12      12      12
Post Weekday                                             4       3       3
Post Hour                                                3      10       3
Paid                                                   0.0     0.0     0.0
Lifetime Post Total Reach                             2752   10460    2413
Lifetime Post Total Impressions                       5091   19057    4373
Lifetime Engaged Users                                 178    1457     177
Lifetime Post Consumers                                109    1361     113
Lifetime Post Consumptions                             159    1674     154
Lifetime Post Impressions by people who have li...    3078   11710    2812
Lifetime Post reach by people who like your Page      1640    6112    1503
Lifetime People who have liked your Page and en...     119    1108     132
comment                                                  4       5       0
like                                                  79.0   130.0    66.0
share                                                 17.0    29.0    14.0
Total Interactions                                     100     164      80

                                                       3       4       5    \
Page total likes                                    139441  139441  139441
Type                                                 Photo   Photo  Status
Category                                                 2       2       2
Post Month                                              12      12      12
Post Weekday                                             2       2       1
Post Hour                                               10       3       9
Paid                                                   1.0     0.0     0.0
Lifetime Post Total Reach                            50128    7244   10472
Lifetime Post Total Impressions                      87991   13594   20849
Lifetime Engaged Users                                2211     671    1191
Lifetime Post Consumers                                790     410    1073
Lifetime Post Consumptions                            1119     580    1389
Lifetime Post Impressions by people who have li...   61027    6228   16034
Lifetime Post reach by people who like your Page     32048    3200    7852
Lifetime People who have liked your Page and en...    1386     396    1016
comment                                                 58      19       1
like                                                1572.0   325.0   152.0
share                                                147.0    49.0    33.0
Total Interactions                                    1777     393     186

                                                       6       7       8    \
Page total likes                                    139441  139441  139441
Type                                                 Photo   Photo  Status
Category                                                 3       3       2
Post Month                                              12      12      12
Post Weekday                                             1       7       7
Post Hour                                                3       9       3
Paid                                                   1.0     1.0     0.0
Lifetime Post Total Reach                            11692   13720   11844
Lifetime Post Total Impressions                      19479   24137   22538
Lifetime Engaged Users                                 481     537    1530
Lifetime Post Consumers                                265     232    1407
Lifetime Post Consumptions                             364     305    1692
Lifetime Post Impressions by people who have li...   15432   19728   15220
Lifetime Post reach by people who like your Page      9328   11056    7912
Lifetime People who have liked your Page and en...     379     422    1250
comment                                                  3       0       0
like                                                 249.0   325.0   161.0
share                                                 27.0    14.0    31.0
Total Interactions                                     279     339     192

                                                       9    ...    490    491  \
Page total likes                                    139441  ...  85979  85979
Type                                                 Photo  ...  Photo  Photo
Category                                                 3  ...      3      3
Post Month                                              12  ...      1      1
Post Weekday                                             6  ...      6      6
Post Hour                                               10  ...     11      3
Paid                                                   0.0  ...    0.0    1.0
Lifetime Post Total Reach                             4694  ...   5280   6184
Lifetime Post Total Impressions                       8668  ...   8703  10228
Lifetime Engaged Users                                 280  ...    951    956
Lifetime Post Consumers                                183  ...    911    901
Lifetime Post Consumptions                             250  ...   1237   1140
Lifetime Post Impressions by people who have li...    4309  ...   5757   6085
Lifetime Post reach by people who like your Page      2324  ...   3300   3502
Lifetime People who have liked your Page and en...     199  ...    431    437
comment                                                  3  ...      1      1
like                                                 113.0  ...   79.0  105.0
share                                                 26.0  ...   30.0   46.0
Total Interactions                                     142  ...    110    152

                                                      492    493    494  \
Page total likes                                    85979  85093  85093
Type                                                 Link  Photo  Photo
Category                                                1      3      3
Post Month                                              1      1      1
Post Weekday                                            5      1      7
Post Hour                                              11      2     10
Paid                                                  0.0    0.0    0.0
Lifetime Post Total Reach                           45920   8412   5400
Lifetime Post Total Impressions                      5808  13960   9218
Lifetime Engaged Users                                753   1179    810
Lifetime Post Consumers                               655   1111    756
Lifetime Post Consumptions                            763   1632   1003
Lifetime Post Impressions by people who have li...  15766   8632   5654
Lifetime Post reach by people who like your Page    10720   5348   3230
Lifetime People who have liked your Page and en...    220    699    422
comment                                                 0     17     10
like                                                128.0  185.0  125.0
share                                                 9.0   55.0   41.0
Total Interactions                                    137    257    176

                                                      495    496    497  \
Page total likes                                    85093  81370  81370
Type                                                Photo  Photo  Photo
Category                                                3      2      1
Post Month                                              1      1      1
Post Weekday                                            7      5      5
Post Hour                                               2      8      2
Paid                                                  0.0    0.0    0.0
Lifetime Post Total Reach                            4684   3480   3778
Lifetime Post Total Impressions                      7536   6229   7216
Lifetime Engaged Users                                733    537    625
Lifetime Post Consumers                               708    508    572
Lifetime Post Consumptions                            985    687    795
Lifetime Post Impressions by people who have li...   4750   3961   4742
Lifetime Post reach by people who like your Page     2876   2104   2388
Lifetime People who have liked your Page and en...    392    301    363
comment                                                 5      0      4
like                                                 53.0   53.0   93.0
share                                                26.0   22.0   18.0
Total Interactions                                     84     75    115

                                                      498    499
Page total likes                                    81370  81370
Type                                                Photo  Photo
Category                                                3      2
Post Month                                              1      1
Post Weekday                                            4      4
Post Hour                                              11      4
Paid                                                  0.0    NaN
Lifetime Post Total Reach                            4156   4188
Lifetime Post Total Impressions                      7564   7292
Lifetime Engaged Users                                626    564
Lifetime Post Consumers                               574    524
Lifetime Post Consumptions                            832    743
Lifetime Post Impressions by people who have li...   4534   3861
Lifetime Post reach by people who like your Page     2452   2200
Lifetime People who have liked your Page and en...    370    316
comment                                                 7      0
like                                                 91.0   91.0
share                                                38.0   28.0
Total Interactions                                    136    119

[19 rows x 500 columns]

In [12]:
# E. SHAPE AND RESHAPE DATA
# Shape of the dataframe

df_shape=df.shape
print('\n-------------------------- df_shape --------------------------\n')
print(df_shape)

-------------------------- df_shape --------------------------

(500, 19)

In [12]:
# Reshape the dataframe using pivot() function 
# Shows the relationship between the Type of Post and the No. of likes

df_reshape=df.pivot(columns='Type', values='like') 
print('\n-------------------------- df_reshape --------------------------\n')
print(df_reshape)

-------------------------- df_reshape --------------------------

Type  Link   Photo  Status  Video
0      NaN    79.0     NaN    NaN
1      NaN     NaN   130.0    NaN
2      NaN    66.0     NaN    NaN
3      NaN  1572.0     NaN    NaN
4      NaN   325.0     NaN    NaN
..     ...     ...     ...    ...
495    NaN    53.0     NaN    NaN
496    NaN    53.0     NaN    NaN
497    NaN    93.0     NaN    NaN
498    NaN    91.0     NaN    NaN
499    NaN    91.0     NaN    NaN

[500 rows x 4 columns]

### The pivot() method is used to reshape a DataFrame from a long to wide format. It is useful to get a DataFrame where one or more columns are identifier variables, and the other columns are pivoted to the column axis.

In [15]:
# This statement will create a dataframe of 'Type' feature 
# in which no. of likes will be shown in a Dataframe according to the post type.

df[['Type','like']]

       Type    like
0     Photo    79.0
1    Status   130.0
2     Photo    66.0
3     Photo  1572.0
4     Photo   325.0
..      ...     ...
495   Photo    53.0
496   Photo    53.0
497   Photo    93.0
498   Photo    91.0
499   Photo    91.0

[500 rows x 2 columns]

In [20]:
df['like'].mean() # This statement will return mean of the 'like' feature.

177.94589178356713