## 1.Perform the following operations using Python on the Facebookmetrics datasets.
    a.Create data subsets
    b.Merge Data
    c.Transposing Data

In [24]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv('dataset_Facebook.csv', sep = ';')

In [26]:
df.sample(4)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
135,136393,Photo,1,10,6,2,0.0,3690,7659,424,388,644,6951,3290,377,0,56.0,12.0,68
452,93363,Photo,1,2,5,6,0.0,5786,10634,1237,1218,1526,9103,4764,483,4,49.0,15.0,68
92,137059,Photo,3,11,1,3,0.0,4732,9303,607,352,518,6201,3136,445,9,301.0,32.0,342
246,130791,Photo,2,7,2,8,0.0,2881,5188,550,503,730,3840,2040,323,0,73.0,15.0,88

## a. Creating the subsets

In [27]:
subset1 = df[df['Post Hour']<5]

In [28]:
subset1.sample(3)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
406,107907,Photo,3,4,7,3,0.0,4770,7716,494,455,632,5040,3114,344,2,97.0,25.0,124
171,135195,Photo,1,9,2,2,0.0,1543,2874,360,334,463,2373,1228,267,2,30.0,6.0,38
41,138895,Link,1,12,6,3,1.0,18480,28438,517,366,460,12078,6752,319,6,187.0,18.0,211

In [29]:
subset2 = df[df['Type']=='Photo']

In [30]:
subset2.sample(3)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
254,129600,Photo,3,7,5,3,0.0,54256,82011,1620,963,1419,42128,24224,977,10,755.0,58.0,823
291,125612,Photo,2,6,4,3,0.0,4320,7127,753,681,1021,4569,2782,459,5,141.0,26.0,172
99,137020,Photo,1,10,4,10,0.0,12776,21893,785,539,881,13272,7800,575,12,328.0,90.0,430

## b. Merging Data

In [31]:
merged_data = pd.merge(subset1,subset2)

In [32]:
merged_data.sample(10) ## Merge data is a dataframe which contains post type = photos and post hour < 10.

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
82,127082,Photo,1,7,3,3,1.0,76096,94644,2889,2495,4596,31096,19744,1276,22,534.0,31.0,587
45,135713,Photo,2,10,4,1,0.0,5568,10282,746,545,867,5696,3162,537,13,319.0,55.0,387
5,138414,Photo,3,12,3,3,0.0,1722,2981,163,123,148,1868,1050,123,2,40.0,12.0,54
77,129600,Photo,2,7,3,1,0.0,4220,7774,685,597,838,4404,2326,407,10,167.0,26.0,203
123,107907,Photo,3,4,7,3,0.0,4770,7716,494,455,632,5040,3114,344,2,97.0,25.0,124
43,135713,Photo,1,10,6,4,0.0,39984,112830,2105,1921,3932,70249,21328,1609,24,302.0,41.0,367
147,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
32,137059,Photo,2,11,7,4,0.0,2626,4943,316,213,299,3047,1605,244,2,124.0,22.0,148
133,92400,Photo,1,2,1,4,0.0,5880,10115,1291,1264,1878,8536,4884,706,5,79.0,11.0,95
115,109670,Photo,3,4,6,3,0.0,4986,8198,662,614,788,5685,3230,469,2,92.0,28.0,122

## c. Transposing Data

In [33]:
merged_data.T

,0,1,2,3,4,5,6,7,8,9,...,139,140,141,142,143,144,145,146,147,148
Page total likes,139441,139441,139441,139441,139441,138414,138414,138414,138458,138895,...,91116,86909,86491,85979,85979,85979,85093,85093,81370,81370
Type,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,...,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo
Category,2,3,2,3,2,3,2,3,3,2,...,3,3,2,3,3,3,3,3,1,2
Post Month,12,12,12,12,12,12,12,12,12,12,...,2,1,1,1,1,1,1,1,1,1
Post Weekday,4,3,2,1,5,3,1,7,5,5,...,2,5,3,1,7,6,1,7,5,4
Post Hour,3,3,3,3,3,3,3,3,3,3,...,4,4,3,2,2,3,2,2,2,4
Paid,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN
Lifetime Post Total Reach,2752,2413,7244,11692,2549,1722,2848,2723,2478,9560,...,7132,6056,5526,4908,4800,6184,8412,4684,3778,4188
Lifetime Post Total Impressions,5091,4373,13594,19479,4896,2981,5066,4888,4306,18264,...,12060,10325,8779,7491,7754,10228,13960,7536,7216,7292
Lifetime Engaged Users,178,177,671,481,249,163,200,176,212,973,...,1004,1117,1096,957,975,956,1179,733,625,564
Lifetime Post Consumers,109,113,410,265,134,123,142,118,124,559,...,944,1078,1058,937,938,901,1111,708,572,524
Lifetime Post Consumptions,159,154,580,364,168,148,184,143,149,885,...,1226,1427,1399,1153,1278,1140,1632,985,795,743
Lifetime Post Impressions by people who have liked your Page,3078,2812,6228,15432,3631,1868,3561,2964,2612,9217,...,8294,6823,5732,4642,4932,6085,8632,4750,4742,3861
Lifetime Post reach by people who like your Page,1640,1503,3200,9328,1917,1050,1963,1621,1443,4748,...,4736,3788,3412,2842,2820,3502,5348,2876,2388,2200
Lifetime People who have liked your Page and engaged with your post,119,132,396,379,183,123,157,143,166,621,...,576,487,453,393,432,437,699,392,363,316
comment,4,0,19,3,5,2,3,0,0,36,...,4,7,2,1,1,1,17,5,4,0
like,79.0,66.0,325.0,249.0,137.0,40.0,66.0,72.0,100.0,523.0,...,136.0,84.0,69.0,44.0,74.0,105.0,185.0,53.0,93.0,91.0
share,17.0,14.0,49.0,27.0,10.0,12.0,12.0,24.0,17.0,63.0,...,42.0,36.0,26.0,21.0,28.0,46.0,55.0,26.0,18.0,28.0
Total Interactions,100,80,393,279,152,54,81,96,117,622,...,182,127,97,66,103,152,257,84,115,119

## Ho gaya, ittu sa ich tha ye to..!!

## 2.Perform the following operations using Python on the Facebookmetrics datasets
    a.Create datasubsets
    b.Sort Data
    c.Shape and reshape Data

## Subsets to apan ne upar bana liye h, to abhi seedhe sorting se chalu krte h..

## b.Sort Data

In [36]:
sorted_data = df.sort_values(by='Post Weekday', ascending=True)

In [38]:
sorted_data.head(3)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
356,116435,Photo,3,5,1,13,0.0,4202,7633,562,481,730,6173,3298,428,3,148.0,16.0,167
324,123047,Photo,3,6,1,3,1.0,3294,5499,526,488,599,4658,2710,305,2,57.0,6.0,65
323,123047,Photo,3,6,1,10,0.0,56672,104966,2579,1334,1850,78678,37408,1831,20,1372.0,47.0,1439

## c.Shape and Reshape Data

In [40]:
df.shape

(500, 19)

In [58]:
reshaped_data = pd.pivot_table(df, index = ['Type','Category'], values='like')

In [59]:
reshaped_data

                       like
Type   Category
Link   1          75.650000
       2          32.000000
       3          68.000000
Photo  1         126.000000
       2         235.857143
       3         219.753333
Status 1         136.333333
       2         182.552632
       3         151.500000
Video  1         231.428571

## Ye b hogya!!